- 사본 생성 후 수정 부탁드립니다.
- 과제1과 과제2 모두 수행 후, 결과를 포함한 ipynb 파일을 제출해 주세요. (파일명은 이름_pandas_numpy_과제.ipynb로 부탁드립니다.)
- 출력하는 데 너무 오래 걸린다면 상위 30개만 출력해 주세요.

## 과제1
- 데이터: wine.csv (와인 성분 변수들을 이용하여 품질을 예측하는 데이터)

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Ybigta_session/0110 Pandas-Numpy/wine.csv') # wine.csv: '내 드라이브'에 사본 저장 후, 경로 수정
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [ ]:
# 인덱스 컬럼 드랍하기
df=data.drop("index",axis=1)
df.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [ ]:
df.shape

(5497, 13)

#### 컬럼명 확인

In [ ]:
df.columns

Index(['quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quality               5497 non-null   int64
 1   fixed acidity         5497 non-null   float64
 2   volatile acidity      5497 non-null   float64
 3   citric acid           5497 non-null   float64
 4   residual sugar        5497 non-null   float64
 5   chlorides             5497 non-null   float64
 6   free sulfur dioxide   5497 non-null   float64
 7   total sulfur dioxide  5497 non-null   float64
 8   density               5497 non-null   float64
 9   pH                    5497 non-null   float64
 10  sulphates             5497 non-null   float64
 11  alcohol               5497 non-null   float64
 12  type                  5497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 558.4+ KB

#### 통계값 확인

In [ ]:
df.describe()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [ ]:
df.quality.unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [ ]:
df.quality.value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

#### 다음 컬럼만 따로 데이터프레임으로 추출해라 : 'quality', 'residual sugar', 'pH', 'alcohol', 'type'

In [ ]:
df2=df[['quality', 'residual sugar', 'pH', 'alcohol', 'type']]
df2.head(30)

    quality  residual sugar    pH  alcohol   type
0         5            6.80  3.44    10.20  white
1         5            2.40  3.19     9.50    red
2         5            2.00  3.05    10.90  white
3         6            6.00  3.26    10.80  white
4         6            9.50  3.04    10.90  white
5         6            9.70  3.08    12.00  white
6         5            1.50  3.30     9.60  white
7         6           11.80  3.04    10.00  white
8         5           18.30  3.30     8.70  white
9         5           11.60  3.07     9.30  white
10        6            0.90  2.89    12.70    red
11        7            1.10  3.32    10.90  white
12        7            6.85  3.03    11.90  white
13        5            1.00  3.13     9.60  white
14        5            2.60  3.10    10.50    red
15        5            7.00  3.21    10.00  white
16        5            2.10  3.04     9.30    red
17        7            4.80  3.17    12.20  white
18        6            7.50  3.06     9.70  white
19        6           10.50  3.36    10.55  white
20        5            1.70  3.10     9.80  white
21        5            2.00  3.26     9.90    red
22        6            1.20  3.11    11.20  white
23        6            2.10  3.41    11.80    red
24        5            2.50  3.34    10.50    red
25        8            3.90  3.24    12.60  white
26        5            2.20  3.30    10.20  white
27        5           15.00  3.15     9.00  white
28        6            1.60  3.27    10.80  white
29        4            1.60  3.15    10.40  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [ ]:
#min
df2.groupby('quality').min()

         residual sugar    pH  alcohol   type
quality
3                  1.15  2.87      8.0    red
4                  0.70  2.74      8.6    red
5                  0.60  2.79      8.0    red
6                  0.70  2.74      8.4    red
7                  0.90  2.84      8.6    red
8                  0.80  2.94      8.8    red
9                  1.60  3.20     10.4  white

In [ ]:
#mean
df2.groupby('quality').mean()

         residual sugar        pH    alcohol
quality
3              5.203846  3.250385  10.251923
4              4.145430  3.228602  10.180376
5              5.792422  3.213384   9.846875
6              5.535141  3.219611  10.606015
7              4.748918  3.228333  11.383864
8              5.581579  3.216711  11.680921
9              4.120000  3.308000  12.180000

In [ ]:
#max
df2.groupby('quality').max()

         residual sugar    pH  alcohol   type
quality
3                 16.20  3.63     12.6  white
4                 15.40  3.90     13.5  white
5                 23.50  3.79     14.9  white
6                 65.80  4.01     14.0  white
7                 19.25  3.82     14.2  white
8                 14.80  3.57     14.0  white
9                 10.60  3.41     12.9  white

#### 알코올 함량을 기준으로 오름차순 정리  / 상위 30개만 출력

In [ ]:
df2.sort_values('alcohol').head(30)

      quality  residual sugar    pH  alcohol   type
4254        3            5.10  3.42      8.0  white
5077        5            0.95  3.34      8.0  white
1768        3            2.10  3.16      8.4    red
4176        5            3.30  3.16      8.4  white
479         6            1.80  2.86      8.4    red
3725        5           20.15  3.01      8.5  white
3772        6           18.00  2.98      8.5  white
172         6           18.00  2.98      8.5  white
255         5            1.60  3.15      8.5    red
3062        5            9.10  3.37      8.5  white
2377        5            1.30  3.19      8.5  white
1427        6            5.90  3.47      8.5  white
4249        4           10.80  3.08      8.6  white
3155        4            4.20  3.25      8.6  white
4224        6            4.90  3.03      8.6  white
3046        5           10.20  3.06      8.6  white
3640        7           14.60  3.21      8.6  white
30          5           16.00  3.13      8.6  white
3656        5           23.50  2.98      8.6  white
3355        4           13.30  3.06      8.6  white
5043        5           10.20  3.06      8.6  white
373         5           11.10  3.06      8.6  white
2111        5           13.10  3.39      8.6  white
55          7           14.60  3.21      8.6  white
5066        5           12.00  3.16      8.6  white
5302        6           13.30  3.03      8.6  white
686         5           15.00  2.93      8.6  white
4615        5           17.95  3.21      8.6  white
5353        4           10.80  3.08      8.6  white
4869        5           11.10  3.06      8.6  white

#### quailty가 7 이상인 데이터 추출 (20개)

In [ ]:
df2[df2['quality']>=7].head(20)

     quality  residual sugar    pH  alcohol   type
11         7            1.10  3.32     10.9  white
12         7            6.85  3.03     11.9  white
17         7            4.80  3.17     12.2  white
25         8            3.90  3.24     12.6  white
45         7            1.40  3.22     11.5  white
46         7           12.80  3.14      9.1  white
53         7            1.80  3.08     13.7  white
54         8            6.10  3.08     12.5  white
55         7           14.60  3.21      8.6  white
60         7            3.60  3.31     13.1  white
63         7            2.10  3.26     12.4    red
71         8            7.05  3.25     11.1  white
74         7            1.10  3.61     10.3  white
79         7            1.10  3.48     11.0  white
87         7            4.50  3.45     12.6  white
89         7            1.80  3.05     11.8  white
101        7            2.90  3.17     11.0  white
104        7           10.40  3.04     11.5  white
119        7            2.90  3.02      9.5  white
120        7            6.30  3.54     11.6  white

#### 'strength' 컬럼추가 : alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (상위 30개만 출력)

In [ ]:
df2['strength']=df2['alcohol'].apply(lambda x:'strong' if x>10 else 'weak')
df2.head(30)

    quality  residual sugar    pH  alcohol   type strength
0         5            6.80  3.44    10.20  white   strong
1         5            2.40  3.19     9.50    red     weak
2         5            2.00  3.05    10.90  white   strong
3         6            6.00  3.26    10.80  white   strong
4         6            9.50  3.04    10.90  white   strong
5         6            9.70  3.08    12.00  white   strong
6         5            1.50  3.30     9.60  white     weak
7         6           11.80  3.04    10.00  white     weak
8         5           18.30  3.30     8.70  white     weak
9         5           11.60  3.07     9.30  white     weak
10        6            0.90  2.89    12.70    red   strong
11        7            1.10  3.32    10.90  white   strong
12        7            6.85  3.03    11.90  white   strong
13        5            1.00  3.13     9.60  white     weak
14        5            2.60  3.10    10.50    red   strong
15        5            7.00  3.21    10.00  white     weak
16        5            2.10  3.04     9.30    red     weak
17        7            4.80  3.17    12.20  white   strong
18        6            7.50  3.06     9.70  white     weak
19        6           10.50  3.36    10.55  white   strong
20        5            1.70  3.10     9.80  white     weak
21        5            2.00  3.26     9.90    red     weak
22        6            1.20  3.11    11.20  white   strong
23        6            2.10  3.41    11.80    red   strong
24        5            2.50  3.34    10.50    red   strong
25        8            3.90  3.24    12.60  white   strong
26        5            2.20  3.30    10.20  white   strong
27        5           15.00  3.15     9.00  white     weak
28        6            1.60  3.27    10.80  white   strong
29        4            1.60  3.15    10.40  white   strong

#### merge 실습을 위한 데이터 쪼개기

In [ ]:
df_x = data[['quality', 'fixed acidity', 'citric acid']].head(30)

In [ ]:
df_y = data[['quality', 'volatile acidity', 'chlorides', 'alcohol']].head(30)

In [ ]:
df_y = df_y[df_y.quality >= 7]

In [ ]:
len(df_y)

4

#### df_x와 df_y를 inner join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x,df_y,how='inner',on='quality')

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33              0.16      0.057     10.9
1        7            6.2         0.33              0.33      0.038     11.9
2        7            6.2         0.33              0.28      0.029     12.2
3        7            7.3         0.40              0.16      0.057     10.9
4        7            7.3         0.40              0.33      0.038     11.9
5        7            7.3         0.40              0.28      0.029     12.2
6        7            6.5         0.25              0.16      0.057     10.9
7        7            6.5         0.25              0.33      0.038     11.9
8        7            6.5         0.25              0.28      0.029     12.2
9        8            6.6         0.31              0.29      0.027     12.6

#### df_x에서 df_y를 left join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x,df_y,how='left',on='quality')

    quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0         5            5.6         0.06               NaN        NaN      NaN
1         5            8.8         0.14               NaN        NaN      NaN
2         5            7.9         0.39               NaN        NaN      NaN
3         6            7.0         0.31               NaN        NaN      NaN
4         6            7.8         0.26               NaN        NaN      NaN
5         6            6.0         0.37               NaN        NaN      NaN
6         5            6.1         0.49               NaN        NaN      NaN
7         6            7.1         0.42               NaN        NaN      NaN
8         5            6.8         0.31               NaN        NaN      NaN
9         5            6.8         0.35               NaN        NaN      NaN
10        6            8.0         0.37               NaN        NaN      NaN
11        7            6.2         0.33              0.16      0.057     10.9
12        7            6.2         0.33              0.33      0.038     11.9
13        7            6.2         0.33              0.28      0.029     12.2
14        7            7.3         0.40              0.16      0.057     10.9
15        7            7.3         0.40              0.33      0.038     11.9
16        7            7.3         0.40              0.28      0.029     12.2
17        5            7.1         0.17               NaN        NaN      NaN
18        5           12.5         0.60               NaN        NaN      NaN
19        5            7.8         0.49               NaN        NaN      NaN
20        5            8.8         0.48               NaN        NaN      NaN
21        7            6.5         0.25              0.16      0.057     10.9
22        7            6.5         0.25              0.33      0.038     11.9
23        7            6.5         0.25              0.28      0.029     12.2
24        6            8.2         0.40               NaN        NaN      NaN
25        6            6.8         0.25               NaN        NaN      NaN
26        5            7.6         0.26               NaN        NaN      NaN
27        5            7.2         0.26               NaN        NaN      NaN
28        6            7.1         0.33               NaN        NaN      NaN
29        6            7.7         0.01               NaN        NaN      NaN
30        5            8.9         0.14               NaN        NaN      NaN
31        8            6.6         0.31              0.29      0.027     12.6
32        5            6.3         0.34               NaN        NaN      NaN
33        5            6.1         0.58               NaN        NaN      NaN
34        6            6.1         0.00               NaN        NaN      NaN
35        4            7.6         0.36               NaN        NaN      NaN

## 과제2
- 데이터 : players.csv (kaggle NFL Big Data Bowl 2023 선수 데이터)
- 세션에 소개되지 않은 기능이 필요하다면, 구글링을 통해 구현해주시길 바랍니다.
- '내 드라이브'에 사본 저장 부탁드립니다.
- 데이터 설명:

|컬럼명|설명|
|--|---|
|nflId|Player identification number, unique across players (numeric)|
|height|Player height (text)|
|weight|Player weight (numeric)|
|birthDate|Date of birth (YYYY-MM-DD)|
|collegeName|Player college (text)|
|officialPosition|Official player position (text)|
|displayName|Player name (text)|

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
players= pd.read_csv('/content/gdrive/MyDrive/Ybigta_session/0110 Pandas-Numpy/players.csv') # players.csv: '내 드라이브'에 사본 저장 후, 경로 수정
players.head()

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

#### NaN, 데이터 타입, 개수 확인

In [ ]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int64(2), object(5)
memory usage: 91.9+ KB

#### birthDate 컬럼으로 age 컬럼 추가하기

1) birthDate 컬럼의 자료형을 object에서 datetime으로 전환

In [ ]:
players['birthDate']=pd.to_datetime(players['birthDate'])
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   datetime64[ns]
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 91.9+ KB

In [ ]:
players.head(3)

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters

2) age 컬럼 생성, apply 및 lambda 함수를 써서 나이 계산

In [ ]:
#한국나이계산

from datetime import datetime

players['age']=players['birthDate'].apply(lambda x: (datetime.now().year)+1-(x.year))

players.head(30)

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName,age
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady,47.0
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger,42.0
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters,42.0
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers,41.0
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick,42.0
5,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis,40.0
6,30869,6-7,330,1981-12-12,Louisiana State,T,Andrew Whitworth,43.0
7,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan,39.0
8,33107,6-4,315,1985-08-30,Virginia Tech,T,Duane Brown,39.0
9,33130,5-10,175,1986-12-01,California,WR,DeSean Jackson,38.0
10,33131,6-8,300,1986-09-01,Miami,DE,Calais Campbell,38.0
11,33138,6-3,222,1985-07-02,Michigan,QB,Chad Henne,39.0
12,33241,6-3,219,1986-05-15,San Diego,QB,Josh Johnson,38.0
13,33566,5-11,185,1985-11-02,Texas Tech,WR,Danny Amendola,39.0
14,34452,6-3,220,1988-02-07,Georgia,QB,Matthew Stafford,36.0
15,34457,6-4,330,1987-01-25,Alabama,T,Andre Smith,37.0
16,34465,6-0,204,1987-12-20,Ohio State,SS,Malcolm Jenkins,37.0
17,34472,6-4,311,1985-11-19,California,C,Alex Mack,39.0
18,34540,6-5,254,1987-04-07,South Carolina,TE,Jared Cook,37.0
19,34654,5-11,195,1987-08-13,Rutgers,FS,Jason McCourty,37.0
20,34777,6-3,310,1986-01-03,Troy,NT,Steve McLendon,38.0
21,34843,6-2,215,1985-10-13,Michigan State,QB,Brian Hoyer,39.0
22,35441,6-4,313,1987-01-06,Nebraska,DE,Ndamukong Suh,37.0
23,35442,6-4,300,1988-02-25,Oklahoma,DT,Gerald McCoy,36.0
24,35443,6-5,320,1988-07-19,Oklahoma,T,Trent Williams,36.0
25,35446,5-11,195,1989-04-14,Florida,CB,Joe Haden,35.0
26,35449,6-3,304,1987-05-12,California,DE,Tyson Alualu,37.0
27,35452,6-2,265,1988-04-03,Michigan,DE,Brandon Graham,36.0
28,35454,6-5,275,1989-01-01,South Florida,DE,Jason Pierre-Paul,35.0
29,35459,5-10,185,1988-04-10,Alabama,SS,Kareem Jackson,36.0

##### 3) age 결측치를 선수 평균 나이로 대체

In [ ]:
players['age']=players['age'].fillna(players['age'].mean())
players.tail(30)

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName,age
1649,53686,5-10,209,NaT,NaN,RB,Jermar Jefferson,29.872149
1650,53687,6-1,190,NaT,NaN,WR,Dax Milne,29.872149
1651,53688,6-1,225,NaT,NaN,ILB,Grant Stuard,29.872149
1652,53711,6-0,193,NaT,NaN,CB,Isaiah Dunn,29.872149
1653,53724,6-4,234,NaT,NaN,TE,Matt Bushman,29.872149
1654,53740,6-3,300,NaT,NaN,DT,Josiah Bronson,29.872149
1655,53819,5-8,178,NaT,NaN,FS,Ar'Darius Washington,29.872149
1656,53854,6-1,190,NaT,NaN,CB,Nick McCloud,29.872149
1657,53861,6-5,330,NaT,NaN,G,Robert Jones,29.872149
1658,53868,6-6,315,NaT,NaN,T,Alaric Jackson,29.872149
1659,53876,6-3,270,NaT,NaN,DE,Raymond Johnson,29.872149
1660,53896,6-0,244,NaT,NaN,TE,Tory Carter,29.872149
1661,53900,6-4,340,NaT,NaN,DT,Naquan Jones,29.872149
1662,53910,6-2,275,NaT,NaN,OLB,Sam Kamara,29.872149
1663,53921,6-1,235,NaT,NaN,ILB,Amen Ogbongbemiga,29.872149
1664,53930,6-3,249,NaT,NaN,OLB,Andre Mintze,29.872149
1665,53933,6-3,240,NaT,NaN,ILB,Curtis Robinson,29.872149
1666,53935,6-2,245,NaT,NaN,DE,Darius Hodge,29.872149
1667,53946,6-4,260,NaT,NaN,TE,Jack Stoll,29.872149
1668,53953,5-11,198,NaT,NaN,CB,Jerry Jacobs,29.872149
1669,53954,6-5,319,NaT,NaN,G,Tommy Kraemer,29.872149
1670,53957,5-11,178,NaT,NaN,CB,A.J. Parker,29.872149
1671,53959,6-4,255,NaT,NaN,TE,Brock Wright,29.872149
1672,53960,5-9,195,NaT,NaN,RB,Jaret Patterson,29.872149
1673,53978,6-3,295,NaT,NaN,DT,Austin Faoliu,29.872149
1674,53991,6-1,320,NaT,NaN,DT,Forrest Merrill,29.872149
1675,53994,6-5,300,NaT,NaN,C,Ryan McCollum,29.872149
1676,53999,6-4,312,NaT,NaN,DT,Jack Heflin,29.872149
1677,54006,6-6,330,NaT,NaN,T,Jake Curhan,29.872149
1678,54038,6-6,245,NaT,NaN,QB,Feleipe Franks,29.872149

#### height 컬럼(feet-inch 형식)으로 heightCm 컬럼 추가하기

##### 1) heightCm 컬럼 생성, apply 및 lambda 함수를 사용해서 height 컬럼의 feet과 inch를 cm로 변환 ('-'를 기준으로 split해서 각각을 cm로 변환해 더하기)

In [ ]:
players['heightCm']=players['height'].apply(lambda x: float(x.split('-')[0])*30.48 +float(x.split('-')[1])*2.54)
players.head(30)

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName,age,heightCm
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady,47.0,193.04
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger,42.0,195.58
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters,42.0,193.04
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers,41.0,187.96
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick,42.0,187.96
5,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis,40.0,198.12
6,30869,6-7,330,1981-12-12,Louisiana State,T,Andrew Whitworth,43.0,200.66
7,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan,39.0,193.04
8,33107,6-4,315,1985-08-30,Virginia Tech,T,Duane Brown,39.0,193.04
9,33130,5-10,175,1986-12-01,California,WR,DeSean Jackson,38.0,177.80
10,33131,6-8,300,1986-09-01,Miami,DE,Calais Campbell,38.0,203.20
11,33138,6-3,222,1985-07-02,Michigan,QB,Chad Henne,39.0,190.50
12,33241,6-3,219,1986-05-15,San Diego,QB,Josh Johnson,38.0,190.50
13,33566,5-11,185,1985-11-02,Texas Tech,WR,Danny Amendola,39.0,180.34
14,34452,6-3,220,1988-02-07,Georgia,QB,Matthew Stafford,36.0,190.50
15,34457,6-4,330,1987-01-25,Alabama,T,Andre Smith,37.0,193.04
16,34465,6-0,204,1987-12-20,Ohio State,SS,Malcolm Jenkins,37.0,182.88
17,34472,6-4,311,1985-11-19,California,C,Alex Mack,39.0,193.04
18,34540,6-5,254,1987-04-07,South Carolina,TE,Jared Cook,37.0,195.58
19,34654,5-11,195,1987-08-13,Rutgers,FS,Jason McCourty,37.0,180.34
20,34777,6-3,310,1986-01-03,Troy,NT,Steve McLendon,38.0,190.50
21,34843,6-2,215,1985-10-13,Michigan State,QB,Brian Hoyer,39.0,187.96
22,35441,6-4,313,1987-01-06,Nebraska,DE,Ndamukong Suh,37.0,193.04
23,35442,6-4,300,1988-02-25,Oklahoma,DT,Gerald McCoy,36.0,193.04
24,35443,6-5,320,1988-07-19,Oklahoma,T,Trent Williams,36.0,195.58
25,35446,5-11,195,1989-04-14,Florida,CB,Joe Haden,35.0,180.34
26,35449,6-3,304,1987-05-12,California,DE,Tyson Alualu,37.0,190.50
27,35452,6-2,265,1988-04-03,Michigan,DE,Brandon Graham,36.0,187.96
28,35454,6-5,275,1989-01-01,South Florida,DE,Jason Pierre-Paul,35.0,195.58
29,35459,5-10,185,1988-04-10,Alabama,SS,Kareem Jackson,36.0,177.80